<%- include('./partials/header') %>

<img class="avi" src="<%= user.avatar %>" alt="">
<h1 class="h1_results">Your Results</h1>
<section class="results">
  <p> Quiz</p>
  <p>Result</p>
</section>
<div class="result">
  <% quizzes.forEach(function(q) { %>
    <p><%= q.name %></p>
    <p><%= q.result %></p>
    <a href=""><button>Retake</button></a>
    <% }); %>
  </div>


<%- include('./partials/footer') %>