<%- include('../../partials/header') %>

<h1 class="h1"><%= quiz.name %></h1>
<section class="quizQuestions">
    <form action="/quizzes/<%= quiz._id %>/result" method="POST">
      <% let total = 1 %>
      <% questions.forEach( q => { %>
      <p><%= total %>. <%= q.question %></p> <br>
      <% let possAns = 1 %>
      <% q.possibleAnswers.forEach( p => { %>
      <section class="quizAnswers">
        <input type="radio" id="p<%= possAns %><%= total %>" value="<%= p %>" name="<%= total %>" required>  <label for="p<%= possAns %><%= total %>"><%= p %></label>
      </section> <br>
      <% possAns += 1 %>
    <% }); %>
    <br>
    <% total += 1 %>
    <% }); %>
    <input type="submit" value="Get Result" class="quizSubmitBtn border-gray-800">
  </form>
</section>
<%- include('../../partials/footer') %>
